.controls {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	z-index: 1;
	opacity: 0;
	transition: opacity 375ms ease-out;
	padding: 1rem;
	width: 100%;
	height: 100%;
	color: var(--color-white);

	&__icon {
		width: 2rem;
		height: 2rem;
		border-radius: 2rem;
		border: 2px solid var(--color-white);
		background-color: hsla(0, 100%, 100%, 0.24);
		backdrop-filter: blur(2px);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 0 0.75rem 0;
		padding: 0;
	}

	&__title {
		font-size: rem-calc(16);
		width: 100%;
		margin-bottom: 0.125rem;
	}

	&__metadata,
	&__tags {
		margin-top: rem-calc(4);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: baseline;
		width: 100%;
	}

	&__vote,
	&__duration {
		font-size: rem-calc(10);
		border-radius: rem-calc(4);
	}

	&__vote,
	&__duration,
	&__tags__item {
		padding: rem-calc(2) 0;
	}

	&__duration {
		background-color: hsla(0, 0%, 100%, 0.24);
		text-transform: uppercase;
		padding: rem-calc(2) rem-calc(8);
	}

	&__vote {
		margin-right: 0.5rem;
	}

	&__tags {
		&__item {
			font-size: rem-calc(8);
			text-transform: uppercase;
			&:after {
				content: "•";
				padding: 0 rem-calc(2);
				color: var(--color-white);
			}

			&:last-child {
				&:after {
					content: "";
					padding: 0;
				}
			}
		}
	}
}
